/* @import '/node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import './node_modules/ag-grid-community/dist/styles/ag-theme-balham.css'; */

.table-operations {
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}

.search{
  background: url(../../assets/img/iconsearch.png) no-repeat ;
  background-size: 22px;
  background-color: white;
  background-position: right;
  /* height: 25px; */
  border-radius: 2px;
  margin-left: 3vw;
  padding-right: 2vw;
  border: 1px solid grey;
  height: 5vh;
}

/* layout.css Style */
.upload-drop-zone {
   height: 230px;
  border-width: 2px;
  /* margin-bottom: 20px; */
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  /* line-height: 200px; */
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.btn:hover{
  border-width: 2px !important;
 }

.cls{
  height: 40px;
  font-size: small;
  border-radius: 25px;
}

.bcls{
  height: 35px;
  font-size: small;
  border-radius: 5px;
  color: green;
  background-color: white;
  border-color: green;
  font-weight: 500;
  margin-right: 1vw;
}

.b1{
  background: url(../../assets/img/icondownload.png) no-repeat ;
  background-size: 22px;
  background-color: white;
  padding-right: vw;
  padding-left: 3vw;
  background-position: 7px 7px;
  }

.b2{
  background: url(../../assets/img/icondelete.png) no-repeat ;
  background-size: 22px;
  background-color: white;
  padding-right: vw;
  padding-left: 3vw;
  background-position: 7px 7px;
    }

.b3{
  background: url(../../assets/img/iconshare.png) no-repeat ;
  background-size: 22px;
  background-color: white;
  padding-right: vw;
  padding-left: 3vw;
  background-position: 7px 7px;
      }

 table, td {
  border: 1px solid#dddddd;;
}

.btab1{
  background: url(../../assets/img/iconshare.png) no-repeat ;
  background-size: 22px;
  background-color: inherit;
  background-position: 1px 2px;
  height: 27px;
  color: darkgreen;
  border: none !important;
 }
 .btab2{
  background: url(../../assets/img/icondownload.png) no-repeat ;
  background-size: 22px;
  background-color: inherit;
  background-position: 1px 2px;
  height: 27px;
  color: darkgreen;
  border: none !important;
 }
 .btab3{
  background: url(../../assets/img/icondelete.png) no-repeat ;
  background-size: 22px;
  background-color: inherit;
  background-position: 1px 2px;
  height: 27px;
  color: darkgreen;
  border: none !important;
 }
 .disabled-button{
  background-color:black;
 }

 /* @media screen and (max-width: 768px) {
  .smalldeviceleft, .smalldeviceright {
    width: 100%;
  }
} */
